.root{
    -fx-background-color: #E0D1B2;
}

#hboxTop {
    -fx-background-color: #AD8745;
    -fx-padding: 15,12,15,12;
    -fx-spacing:10;


    -fx-border-width: 0.5;
    -fx-border-radius: 3;
    -fx-border-color: black;
}


#hboxTop>#buttonCurrent{
    -fx-pref-width: 80;
    -fx-pref-height: 20;
}

#hboxTop>#buttonProjected{
    -fx-pref-width: 100;
    -fx-pref-height: 20;

}

#hboxTop>#buttonCurrent, #hboxTop>#buttonProjected,
    #buttonSave, #buttonCancel{
    -fx-background-color: #CFB99F;
    /*-fx-border-color: #121c37;*/
    /*-fx-border-width: 2px;*/
    -fx-background-radius: 9px;
    -fx-border-radius:9px;
    -fx-effect: dropshadow(gaussian,#908779, 2,0,1,2);
/*arriba, dereecha, abajo, izq*/
}

#buttonSave:pressed, #buttonCancel:pressed{
    -fx-background-color:#AA9B85;
    -fx-text-fill:white;

}

#hboxTop>#buttonCurrent:pressed, #hboxTop>#buttonProjected:pressed{
    -fx-background-color:#87755B;
    -fx-text-fill:white;

}

/*
dropshadow( <blur-type> , <color> , <number> , <number> , <number> , <number> )
<blur-type> = [ gaussian | one-pass-box | three-pass-box | two-pass-box ]

*/


/*#hboxTop>#buttonCurrent:hover, #hboxTop>#buttonProjected:hover{
    -fx-background-color: #7885ff;
    -fx-background-radius: 10px;
    -fx-border-color:#0c0d38;
}*/



/*----------------------------------------*/
#vboxLeft{
    /*-fx-background-color: #E9CFA8;*/
    -fx-background-color: linear-gradient(to bottom, #AD8745, #E9CFA8);
    -fx-padding: 12px;
    -fx-spacing:8px;
}


#Data{
    -fx-font-family:'Arial' ;
    -fx-font-weight: bold;
    -fx-font-size: 16px;

    -fx-dark-text-color: navy ;
      -fx-mid-text-color: blue ;
      -fx-light-text-color: skyblue ;
}

#vboxLeft>#hijoOption{
    -fx-font-style: italic;
    -fx-font-size: 13px;
    -fx-padding: 5px;
    -fx-text-fill:#763509;
}

#vboxLeft>#hijoOption:hover{
    -fx-text-fill:#fdfeff;
    -fx-underline: false;
}

/*----------------------------------------*/
#stack{
    -fx-alignment: center-right;

}
#helpIcon{
     -fx-stroke:#D0E6FA;
     -fx-arc-height:3.5px;
     -fx-arc-width:3.5px;
     -fx-fill: linear-gradient(to bottom, #835A13, #ECC181);
     /*linear-gradient(to bottom, #AD8745, #E9CFA8)*/

}

#helpText{
    -fx-font-family:'Verdana';
    -fx-font-weight: bold;
    -fx-text-fill: white;/*color del texto*/
    -fx-font-size: 18px;
    -fx-stroke: #7080A0;
}


/*----------------------------------------*/
#gridMedio{
    -fx-hgap: 10px;
    -fx-vgap: 10px;

    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;

}

#category{
    -fx-font-family:'Arial';
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#chartTitle{
    -fx-font-family:'Arial';
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#chartSubtitle{
    -fx-font-family:'Arial';
    -fx-font-style: italic;
    -fx-font-size: 14px;


}

#imageHouse{}/*no se puede poner tamaño en css porque se necesita en un constructor o algo*/

#imageChart{
-fx-padding: 200px;
    -fx-border-insets: 200px;
    -fx-background-insets: 200px;
}

#goodsPercent, #servicesPercent{
    -fx-font-family:'Helvetica';
    -fx-font-style: italic;
    -fx-font-size: 14px;
}
/*----------------------------------------*/
#flow{
    /*-fx-background-color: #DAE6F3;*/
    -fx-padding: 0,8,5,8;
    -fx-hgap: 8px;/*columna*/
    -fx-vgap: 4px;/*filas*/

    -fx-background-color: linear-gradient(to bottom, #AD8745, #E9CFA8);
}


/*----------------------------------------*/

#buttonSave{
    -fx-pref-width: 80;
    -fx-pref-height: 20;

}

#buttonCancel{
    -fx-pref-width: 80;
    -fx-pref-height: 20;

}



#HboxBottom{
    -fx-padding: 10,0,0,0;
    -fx-spacing: 10;/*espacio entre elementos*/
}